div {
  height: 400px;
  width: 250px;
  background-color: rgb(0, 0, 0);
  border: 3px solid greenyellow;
  padding: 10px;
  margin: 1px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  align-items: flex-start;
}

button {
  height: 30px;
  width: 120px;
  margin: 0px;
  border: solid 3px greenyellow;
  background-color: black;
  color: white;
}

input {
  width: 100%;
  margin: 5px;
  background-color: rgb(76, 113, 19);
  padding: 5px;
  border: 2px solid greenyellow;
}

.numB {
  width: 65px;
  height: 20px;
  margin: 5px;
  background-color: rgb(76, 113, 19);
  padding: 5px;
  border: 2px solid greenyellow;
  display: flex;
  justify-content: center;
  align-items: center;
}
#boton9 {
  width: 65px;
  margin: auto;

  display: flex;
  justify-content: center;
  align-items: center;
}
